# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_useDirectListing true

### Endpoints Privacy ###
sv_endpointPrivacy true

# Données sensibles dans ce fichier
exec links.cfg
exec mappings.cfg

sv_maxclients 10

set onesync on 

set mysql_ui true

set sv_enforceGameBuild 2802
load_server_icon "burgybase.png"


setr esx:locale "fr"

## These resources will start by default.
ensure spawnmanager
ensure sessionmanager
ensure hardcap

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

## Default & Standalone resources
ensure oxmysql

## ESX Legacy
ensure es_extended
ensure okokChat
ensure [core]
ensure BGD_Creator
